.imageCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.invertIcon {
    filter: invert(1);
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: 0.3s;
}

.invertIcon:hover {
    opacity: 1;
}

.personalLinks {
    display: flex;
    gap: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
    padding-top: 4rem;
    padding-right: 12rem;
}

.titleBox {}

.portraitBox {}

.title {
    font-size: 55px;
    margin: 0;
}

.downloadButton {
    background-color: rgb(28, 29, 37);
    color: white;
    border-image: url("../images/buttonbackground1.webp")120;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    margin-top: 4px;
    font-size: medium;
    padding: 5px;
    display: inline-block;
}

.downloadButton:hover {
    opacity: 1;
}

.invertIcon2 {
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.aboutMe{
    font-size: 30px;
    padding: 7rem;
    padding-top:0px;
}